<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="URL" value="https://api.ipaas.com/hookapi/v2" />
    <add key="Token" value="PLACE TOKEN HERE" />

    <add key="PollInterval" value="200" />
    <add key="LogSeverity" value="E" />
    <!--E=Error only, W = Warning, D = Detail, V = Verbose -->

    <add key="ProductWait" value="100" />

    <!-- These settings are required to support multiple instances of the CPWebHooks service on the same machine-->
    <add key="ServiceName" value="CPWebHooks" />
    <add key="DisplayName" value="CPWebHooks for iPaas" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CounterPoint" connectionString="User ID=user;Password=PASSWORD;Persist Security Info=False;Initial Catalog=DBNAME;Data Source=SERVERNAME" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>